#file to be ignored
*.xml
Pass.py

#folder to be ignored
workspace.xml
__pycache__
ConfirmationMail.cpython-35.pyc
.idea/
*.pyc
class_book.js
MyFile.py
backup.py
six.cpython-35.pyc
__init__.cpython-35.pyc