#file to be ignored


#folder to be ignored
static/vendor/jquery/dist
static/vendor/jquery/external/
static/vendor/jquery/src/
static/vendor/node-waves/
workspace.xml
ConfirmationMail.cpython-35.pyc
*.pyc
