#file to be ignored
*.xml

#folder to be ignored
static/vendor/jquery/dist
static/vendor/jquery/external/
static/vendor/jquery/src/
static/vendor/node-waves/
workspace.xml
__pycache__
ConfirmationMail.cpython-35.pyc
.idea/
ClassLabRequest.py
AudiField.py
Update.py
*.pyc
class_book.js
MyFile.py
backup.py
