<!DOCTYPE html>
<html lang="en" xmlns:line-width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DU_Booking_Site</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="/static/css/style_signup.css" rel="stylesheet">
       <link href="/static/css/style_navbar.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/du_booking_system.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/_booking_style.css">




  </head>

  <body id="header">

   <script type="text/javascript">
			var nav = false;
		function show_hide_nav(id){
			var navbar = document.getElementById(id);

			if(nav == false){
				navbar.style.display = "block";
				nav = true;
			}else{
				navbar.style.display = "none";
				nav = false;
			}
		}
	</script>


    <!-- Navigation -->
    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <img class="navbar-brand" src="/static/img/logo.png">
        <a class="navbar-brand" href="#">University of Dhaka</a>

        <div class="topnav" id="navbarResponsive" >
            <div id="res_btn" onclick="show_hide_nav('navbar')" ></div>
          <ul class="nav navbar-nav" id="navbar" style="margin-left: 100px ;color: #004085">
            <li  class="active"  style="width: 110px" ><a class="active" href="index" >Home</a></li>
            <li  class="active"><a class="active" href="table" id = "lab">Lab Booking</a></li>
            <li   class="active" style="width: 160px"><a class="active" href="#" id="class">Class Booking</a></li>
            <li  class="active" style="width: 210px"><a class="active " href="auditorium" id="auditorium" >Auditorium Booking</a></li>
            <li  class="active" style="width: 150px"><a class="active" href="#" id="field" >Field Booking</a></li>
          </ul>
        </div>

      </div>
        </div>

    </nav>
  </body>





<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="/static/css/_booking_style.css">
     <link rel="stylesheet" href="/static/css/_select_styling.css">


</head>

<body >
  <body >
    <div class="diamond"></div>
    <div class="form-wrap">
      <form action="">
        <div class="location">
          <label for="location">USERNAME</label><br/>
          <input type="text"  id="username" name="username" disabled/><br/>
            <script type="text/javascript">
               var a = document.getElementById("username");
               a.value = '{{ username }}';
            </script>
        </div>
        <div class="guests">
          <label for="guests">CONFIRM FIELD</label><br/><br/>
           <select id="audi" title="fo" >
                 <option id="55" value="hide">-- Field --</option>
                 <option id="11" value="DU Central Field" >DU Central Field</option>
                 <option id="22" value="Jagannath Hall Field">Jagannath Hall Field</option>
                 <option id="33" value="Jahurul Haq Hall Field">Jahurul Haq Hall Field</option>
           </select>
        </div>
        <div class="location">
            <label for="location">CONFIRM DATE</label><br/>
            <input style="width: 350px" name="arrival" type="text"  id="date" disabled/>
              <script type="text/javascript">
               var a = document.getElementById("date");
               a.value = '{{ date }}';
            </script>
          </div>
          <div class="guests" >
              <label for="guests">PAYMENT(Max: 2048 KB)</label><br/><br/>
              <input   style="background-color:white ;width: 350px;" id="payment" type="file" name="pic" accept="image/*" >
          </div>
      </form>
      <button class="btn-danger" type="button" onclick="submitData()">BOOK NOW</button>
      <div class="linkbox">
        <div class="links">
          <div class="origin">
            <p1>Thanks for requesting.Yor request is in processing.</p1><a  target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
          <div class="me">
            <p1>We will notify you very quickly.For more detail contact to vc@du.ac.bd</p1><a ><i class="fa fa-codepen"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
  <script  src="/static/js/auditorium/_booking_index.js"></script>
  <script  src="/static/js/auditorium/_select_menu.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <script type=text/javascript>
        function submitData(){
            var xhttp = new XMLHttpRequest();
            var pay="";
            var username = document.getElementById("username").value;

            var date = document.getElementById("date").value;
            var e = document.getElementById('audi');
            var auditorium = e.options[e.selectedIndex].value;
            var paym = document.getElementById("payment").value;
            if(paym!="")
            {
                pay = document.getElementById("payment").files[0].name;
            }


             xhttp.onreadystatechange = function() {
                 if (this.readyState == 4 && this.status == 200) {
                     var x = xhttp.responseText;
                     if(x=="1")
                     {
                         alert("This Auditorium is already Booked");
                     }
                     else if(x=="0")
                     {
                         alert("DONE!!");
                         window.location.replace("http://127.0.0.1:8080/field");
                     }
                     else if(x=="exist")
                     {
                         alert("This is already booked! Try another!");

                     }
                 }
             };
             var args = [username,date,auditorium,pay]
            if(auditorium=="hide")
            {
                alert("Please Confirm field");
            }
            else if(pay=="")
            {
                alert("Please give payment receipt!")
            }
            else
            {
                xhttp.open("GET", "http://127.0.0.1:8080/field_booking_done?query="+JSON.stringify(args), true);
                xhttp.send();
            }

        }

    </script>

</body>

</html>
