
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:line-width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DU_Booking_Site</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/du_booking_system.css" rel="stylesheet">
    <link href="/static/css/style_login.css" rel="stylesheet">
      <link href="/static/css/style_navbar.css" rel="stylesheet">

  </head>

  <body style="background: #F8C471    ">

   <script type="text/javascript">
			var nav = false;
		function show_hide_nav(id){
			var navbar = document.getElementById(id);

			if(nav = false){
				navbar.style.display = "block";
				nav = true;
			}else{
				navbar.style.display = "none";
				nav = false;
			}
		}
	</script>




    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <img class="navbar-brand" src="/static/img/logo.png">
        <a class="navbar-brand" href="#">University of Dhaka</a>

        <div class="topnav" id="navbarResponsive" >
            <div id="res_btn" onclick="show_hide_nav('navbar')" ></div>
          <ul class="nav navbar-nav" id="navbar" style="margin-left: 100px ;color: #004085">
            <li  class="active"  style="width: 110px" ><a class="active" href="index" >Home</a></li>
            <li  class="active"><a class="active" href="table" id = "lab">Lab Booking</a></li>
            <li   class="active" style="width: 160px"><a class="active" href="#" id="class">Class Booking</a></li>
            <li  class="active" style="width: 210px"><a class="active " href="#" id="auditorium" >Auditorium Booking</a></li>
            <li  class="active" style="width: 150px"><a class="active" href="#" id="field" >Field Booking</a></li>
          </ul>
        </div>

      </div> <div class="btn-group-vertical">
           <a href="#" class="btn btn-danger navbar-btn" >Login</a>
         <a  class="btn btn-warning navbar-btn" href="signup">SignUp</a>
         </div>
    </nav>


<body >
  <div id="window">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="font-weight: bold; color: crimson ;font-size: 30px">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <h1  style="font-size: 40px ; color: black">Login</h1>
  {% from "_formhelpers.html" import render_field %}
		<form method=post action="/login">
			<dl style="color: white  ">
				{{render_field(form.username)}}
				{{render_field(form.password)}}
			</dl>
            <button type="submit" class="btn btn-danger" style="width: 80px">Submit</button>
		</form>
   <dl style="color: red ">
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
    </dl>
</div>
</body>



   <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/signup/pass_confirm.js"></script>



  </body>

</html>
